@layout MainLayout
@page "/home"

<h1 class="home-title">Sistema de gestión de Ferro Laminas</h1>

<p class="home-message">
    ¡Descubre la Calidad y Variedad de Ferrolaminas en Nuestra Tienda en Línea! <br />

    Bienvenido a Ferrolaminas, tu destino en línea para láminas de acero, aluminio y madera de primera calidad. Estamos encantados de presentarte nuestra tienda en línea, donde podrás explorar nuestra amplia selección de productos y encontrar las soluciones perfectas para tus proyectos. <br />

    En Ferrolaminas, nos dedicamos a proporcionarte productos de la más alta calidad que se adaptan a tus necesidades específicas. Ya sea que estés buscando láminas de acero robustas, láminas de aluminio versátiles o láminas de madera naturales y elegantes, tenemos lo que necesitas para llevar tus proyectos al siguiente nivel. <br />

    Nuestra tienda en línea está diseñada pensando en ti, con una interfaz fácil de usar que te permite navegar por nuestras categorías de productos, comparar opciones y realizar compras de manera conveniente desde la comodidad de tu hogar u oficina. Además, nuestro equipo de atención al cliente está siempre disponible para ayudarte con cualquier pregunta o consulta que puedas tener. <br />

    ¡Descubre todo lo que Ferrolaminas tiene para ofrecerte hoy mismo! Explora nuestra tienda en línea y encuentra las láminas perfectas para tus proyectos de construcción, decoración y más. <br />

    ¡Gracias por elegir Ferrolaminas como tu proveedor de confianza para láminas de calidad! <br />
</p>

