@layout MainLayout
@page "/home"


    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <h3>Sistema de gestión de Ferro Laminas</h3>
            <p>¡Descubre la Calidad y Variedad de Ferrolaminas en Nuestra Tienda en Línea!</p>
            <a href="#" class="btn">obten el tuyo ahora</a>
        </div>

    </section>

    <!-- home section ends -->
    <!-- about section starts  -->

    <section class="about" id="about">

        <h1 class="heading"> <span>acerca</span> de nosotros </h1>

        <div class="row">

            <div class="image">
                <img src="images/about-img.png" alt="">
            </div>

            <div class="content">
                <h3>¿Qué hacemos?</h3>
                <p>Nos dedicamos al corte de lámina y otros servicios asociados con el hierro. Ofrecemos una amplia gama de materiales, servicios y tipos de cobro, lo que requiere un sistema web robusto para gestionar sus operaciones de manera eficiente.</p>
                <a href="#" class="btn">saber mas</a>
            </div>

        </div>

    </section>

    <!-- about section ends -->
    <!-- menu section starts  -->

    <section class="menu" id="menu">

        <h1 class="heading"> Tipos de <span>hierros</span> </h1>

        <div class="box-container">

            <div class="box">
                <img src="images/menu-1.png" alt="">
                <h3>Laminado en Frio</h3>
                <div class="price">$45.99 <span>50.99</span></div>
            </div>

            <div class="box">
                <img src="images/menu-2.png" alt="">
                <h3>Lamina en Caliente</h3>
                <div class="price">$65.99 <span>70.99</span></div>
            </div>

            <div class="box">
                <img src="images/menu-3.png" alt="">
                <h3>Inoxidable</h3>
                <div class="price">$55.99 <span>60.99</span></div>
            </div>

            <div class="box">
                <img src="images/menu-4.png" alt="">
                <h3>Chronith</h3>
                <div class="price">$35.99 <span>40.99</span></div>
            </div>

            <div class="box">
                <img src="images/menu-5.png" alt="">
                <h3>Alfajor</h3>
                <div class="price">$55.99 <span>60.99</span></div>
            </div>

        </div>

    </section>

    <!-- menu section ends -->

    

    <!-- review section starts  -->

    <section class="review" id="review">

        <h1 class="heading"> opiniones <span>de clientes</span> </h1>

        <div class="box-container">

            <div class="box">
                <img src="images/quote-img.png" alt="" class="quote">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla sit libero nemo fuga sequi nobis? Necessitatibus aut laborum, nisi quas eaque laudantium consequuntur iste ex aliquam minus vel? Nemo.</p>
                <img src="images/pic-1.png" class="user" alt="">
                <h3>john deo</h3>
            </div>

            <div class="box">
                <img src="images/quote-img.png" alt="" class="quote">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla sit libero nemo fuga sequi nobis? Necessitatibus aut laborum, nisi quas eaque laudantium consequuntur iste ex aliquam minus vel? Nemo.</p>
                <img src="images/pic-2.png" class="user" alt="">
                <h3>Lina Paez</h3>
            </div>

            <div class="box">
                <img src="images/quote-img.png" alt="" class="quote">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla sit libero nemo fuga sequi nobis? Necessitatibus aut laborum, nisi quas eaque laudantium consequuntur iste ex aliquam minus vel? Nemo.</p>
                <img src="images/pic-3.png" class="user" alt="">
                <h3>Alex Smith</h3>
            </div>

        </div>

    </section>

    <!-- review section ends -->
    <!-- contact section starts  -->

    <section class="contact" id="contact">

        <h1 class="heading"> <span>contacta</span> nos </h1>

        <div class="row">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15885.050101350074!2d-75.468635731786!3d5.528016293869328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e471d9516b8183f%3A0x28b68a443a5d0efc!2zUMOhY29yYSwgQ2FsZGFz!5e0!3m2!1ses!2sco!4v1651685702670!5m2!1ses!2sco" allowfullscreen="" loading="lazy"></iframe>

            <form action="">
                <h3>entra en contacto</h3>
                <div class="inputBox">
                    <input type="text" placeholder="Nombre">
                </div>
                <div class="inputBox">
                    <input type="email" placeholder="Email">
                </div>
                <div class="inputBox">
                    <input type="number" placeholder="Número">
                </div>
                <input type="submit" value="contactanos" class="btn">
            </form>

        </div>

    </section>

    <!-- contact section ends -->


    <!-- footer section starts  -->

    <section class="footer">

        <div class="links">
            <a href="#">inicio</a>
            <a href="#">acerca de nosotros</a>
            <a href="#">menu</a>
            <a href="#">servicios</a>
            <a href="#">opiniones</a>
            <a href="#">contacto</a>
        </div>

        <div class="credit">
            Todos los derechos reservados &copy; copyright
            <?php echo date('Y') ?>
        </div>

    </section>


    

