@page "/tipos-corte/{id}"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http
@using static FerroLaminas.Pages.FetchData
@using Newtonsoft.Json;
@using System.Text
@inject NavigationManager Navigation
@inject HttpClient httpClient

@code {
    [Parameter]
    public string id { get; set; }

    private Typee type;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();
        var response = await httpClient.GetAsync("https://localhost:7263/api/TipoCorte/" + id);

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            type = JsonConvert.DeserializeObject<Typee>(content);
        }
        else
        {
            type.Id = 0;
            type.Descripcion = "";
            type.PrecioPorKilo = 0;
            type.Nombre = "";
            type.ServicoId = 0;
        }
    }
}

<h3 class="cotizacion-title">Cotizaciones</h3>

<form class="cotizacion-form">
    <div>
        <label for="nombre2">Nombre:</label>
        <input type="text" id="nombre2" name="nombre2" value="@type.Nombre" />
    </div>
    <div>
        <label for="precioporkilo3">Precio por kilo:</label>
        <input type="number" id="precioporkilo3" name="precioporkilo3" value="@type.PrecioPorKilo" />
    </div>
    <div>
        <label for="descripcion3">Descripción:</label>
        <input type="text" id="descripcion3" name="descripcion3" value="@type.Descripcion" />
    </div>
    <div>
        <label for="servicioid">Servicio id:</label>
        <input type="number" id="servicioid" name="servicioid" value="@type.ServicoId" />
    </div>
    <button type="submit">Guardar material</button>
</form>

@code {
    public class Typee
    {
        public int Id { get; set; }
        public string Nombre { get; set; }
        public double PrecioPorKilo { get; set; }
        public string Descripcion { get; set; }
        public double ServicoId { get; set; }
    }
}
