.order-title {
    font-size: 22px;
    color: rgb(97, 97, 97);
    margin: 12px 0;
}

.order-table {
    border-color: rgb(97, 97, 97);
}

.order-table-head > th {
    font-size: 14px;
    color: rgb(97, 97, 97);
    border-bottom: 1px solid rgb(97, 97, 97);
}

.order-table-body > td {
    font-size: 14px;
    color: rgb(97, 97, 97);
}

.order-submit {
    padding: 4px 6px;
    border-radius: 9px;
    border: 1px solid rgb(97, 97, 97);
    width: max-content;
    margin: 0 auto;
    font-size: 22px;
    background-color: transparent;
    color: rgb(97, 97, 97);
    text-decoration: none;
}

.order-submit:hover {
    color: black;
    border: none;
    background: linear-gradient(to right, rgb(97, 97, 97) 0%, rgb(230, 231, 232) 50%, rgb(97, 97, 97) 100%);
}

@media screen and (min-width: 577px) {
    .order-title {
        font-size: 32px;
    }

    .order-table-head > th,
    .order-table-body > td {
        font-size: 16px;
    }
}
