.navbar-mobile {
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navbar {
    display: none;
}

.user-content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.user-name {
    color: rgb(97, 97, 97);
    font-size: 12px;
    margin: 0;
}

.logout-button {
    padding: 4px 6px;
    border-radius: 9px;
    border: 1px solid rgb(97, 97, 97);
    width: max-content;
    margin: 0 auto;
    font-size: 22px;
    background-color: transparent;
    color: rgb(97, 97, 97);
    text-decoration: none;
}

.logout-button:hover {
    color: black;
    border: none;
    background: linear-gradient(to right, rgb(97, 97, 97) 0%, rgb(230, 231, 232) 50%, rgb(97, 97, 97) 100%);
}

.menu-botton {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    padding: 0;
    background-color: transparent;
}

.menu-botton > div {
    height: 10px;
    width: 100%;
    border-radius: 100px;
    background: linear-gradient(to right, rgb(97, 97, 97) 0%, rgb(230, 231, 232) 50%, rgb(97, 97, 97) 100%);
}

.menu-botton-active {
    padding: 6px;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    border-radius: 9px;
    background: linear-gradient(to right, rgb(97, 97, 97) 0%, rgb(230, 231, 232) 50%, rgb(97, 97, 97) 100%);
}

.menu-botton-active > div {
    height: 10px;
    width: 100%;
    border-radius: 100px;
    background: black;
}

.menu,
.menu-show {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: black;
    z-index: 1;
    width: 100vw;
    height: calc(100vh - 55px);
}

.menu {
    position: absolute;
    top: 100%;
    left: -100%;
    transition: 1s all;
}

.menu-show {
    position: absolute;
    top: 100%;
    left: 0;
    transition: 1s all;

}

.menu-show > a,
.menu > a {
    font-size: 20px;
    color: rgb(97, 97, 97);
    text-decoration: none;
    padding: 8px 12px;
}

.menu-show > a:hover,
.menu-show > a:active,
.menu > a:hover,
.menu > a:active {
    background: linear-gradient(to right, rgb(97, 97, 97) 0%, rgb(230, 231, 232) 50%, rgb(97, 97, 97) 100%);
    color: black;
    border-radius: 100px;
}

 @media screen and (min-width: 577px){
    .navbar-mobile {
        display: none;
    }

    .navbar {
        display: flex;
        padding: 0 12px;
    }

    .logo-navbar {
        max-height: 50px
    }

    .links > a {
        font-size: 16px;
        color: rgb(97, 97, 97);
        text-decoration: none;
        padding: 8px 12px;
    }

    .links > a:hover,
    .links > a:active {
        border-bottom: 1px solid rgb(97, 97, 97);
    }
 }
